*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: hsla(0, 0%, 100%, 0.75);
}

main {
  width: 61%;
  height: 70%;
  margin: auto;
  margin-top: 7%;
  display: flex;
  align-items: center;
  justify-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin: auto;
    width: 10%;
    justify-items: center;
    align-content: center;
}

nav button {
    height: 30px;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.flex-button {
    background-color:bisque;
    border: coral;
    border-radius: 8px;
}

.grid-button {
    border: coral;
    border-radius: 8px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.sedan h1{
    color: white;
    font-family:Big Shoulders Display;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sedan p{
    color: white;
    font-family:Lexend Deca;
    font-size: 15px;
    margin-bottom: 60px;
}

.sedan button{
    color: hsl(31, 77%, 52%);
    background-color: white;
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 11px;
}

.sedan button:hover{
    color: white;
    background-color: hsl(31, 77%, 52%);
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: solid 2px white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 11px;
    cursor: pointer;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    padding: 2em;
    width: 100%;
    height: 100%;
}

.suv h1{
    color: white;
    font-family:Big Shoulders Display;
    margin-top: 20px;
    margin-bottom: 20px;
}

.suv p{
    color: white;
    font-family:Lexend Deca;
    font-size: 15px;
    margin-bottom: 60px;
}

.suv button{
    color: hsl(184, 100%, 22%);
    background-color: white;
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 11px;
}

.suv button:hover{
    color: white;
    background-color: hsl(184, 100%, 22%);
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: solid 2px white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 11px;
    cursor: pointer;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.luxury h1{
    color: white;
    font-family:Big Shoulders Display;
    margin-top: 20px;
    margin-bottom: 20px;
}

.luxury p{
    color: white;
    font-family:Lexend Deca;
    font-size: 15px;
    margin-bottom: 60px;
}

.luxury button{
    color: hsl(179, 100%, 13%);
    background-color: white;
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 12px;
}

.luxury button:hover{
    color: white;
    background-color: hsl(179, 100%, 13%);
    font-family:Big Shoulders Display;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    border: solid 2px white;
    height: 35px;
    font-family: Lexend Deca;
    font-size: 12px;
    cursor: pointer;
}